<!doctype>
<html>
  <head>
    <title>Awesome Test App</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.css">
  </head>
  <body class="container">
    <%= yield %>
  </body>
</html>
